{% extends "base.html" %} {% block content %}
<section class="programs" id="programs" style="padding-top: 60px">
  <div class="container">
    <h1>პროგრამები</h1>
    <div class="card-wrapper">
      <div class="card" style="max-width: 355px">
        <img src="../../static/images/it.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <div class="card-txt">
            <p class="card-lvl">მესამე დონე</p>
            <h5 class="card-title">ინფორმაციული ტექნოლოგია</h5>
          </div>
          <a href="programs/it.html" class="btn btn-primary">მეტი</a>
        </div>
      </div>
      <div class="card" style="max-width: 355px">
        <img
          src="../../static/images/farmacy.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <div class="card-txt">
            <p class="card-lvl">მეხუთე დონე</p>
            <h5 class="card-title">ფამაცია</h5>
          </div>
          <a href="#" class="btn btn-primary">მეტი</a>
        </div>
      </div>
      <div class="card" style="max-width: 355px">
        <img
          src="../../static/images/veterinary.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <div class="card-txt">
            <p class="card-lvl">მეხუთე დონე</p>
            <h5 class="card-title">ვეტერინარია</h5>
          </div>
          <a href="#" class="btn btn-primary">მეტი</a>
        </div>
      </div>
      <div class="card" style="max-width: 355px">
        <img
          src="../../static/images/office business.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <div class="card-txt">
            <p class="card-lvl">მეოთხე დონე</p>
            <h5 class="card-title">საოფისე საქმე</h5>
          </div>
          <a href="#" class="btn btn-primary">მეტი</a>
        </div>
      </div>
      <div class="card" style="max-width: 355px">
        <img
          src="../../static/images/kindergarden.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <div class="card-txt">
            <p class="card-lvl">მეხუთე დონე</p>
            <h5 class="card-title">აღმზრდელი</h5>
          </div>
          <a href="#" class="btn btn-primary">მეტი</a>
        </div>
      </div>
      <div class="card" style="max-width: 355px">
        <img
          src="../../static/images/bugalteri.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <div class="card-txt">
            <p class="card-lvl">მეხუთე დონე</p>
            <h5 class="card-title">ბუღალტერია</h5>
          </div>
          <a href="#" class="btn btn-primary">მეტი</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
