{% extends "base.html" %} {% block content %}
<section class="news" style="padding-bottom: 60px">
  <div
    class="container"
    style="display: flex; justify-content: center; align-items: center"
  >
    <div class="post-div smth">
      <div class="post-img-div">
        <img
          src="/static/{{ product.img }}"
          alt=""
          style="width: 354px; height: 264px"
        />
      </div>

      <div class="discr-div">
        <p class="date">{{ product.price }}</p>
        <p class="title-p">{{ product.name }}</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
