.programs {
  padding-top: 160px;
  padding-bottom: 200px;
  background-color: $base-color2;
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 60px;

    h1 {
      text-align: center;
      font-size: 45px;
      font-weight: 600;
      color: $card-txt;
      @media (max-width: 356px) {
        font-size: 25px;
      }
    }
    .card-wrapper {
      display: flex;
      align-content: stretch;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20px;
      @media (max-width: 754px) {
        flex-direction: column;
        align-items: center;
      }
      .card {
        border: none;
        background-color: $card-color;
        border-radius: 25px;

        img {
          border-radius: 25px;
          overflow: hidden;
          @media (max-width: 355px) {
            max-width: 255px;
          }
        }
        .card-body {
          padding: 20px 30px 20px 30px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: end;
          @media (max-width: 356px) {
            max-width: 255px;
            padding: 10px 20px 15px 20px;
          }
          .card-txt {
            display: flex;
            flex-direction: column;
            align-items: space-between;
            gap: 10px;
            .card-lvl {
              font-size: 15px;
              color: $base-color1;
            }
            .card-title {
              font-size: 22px;
              font-weight: 600;
              transition: all 0.3s;
              @media (max-width: 356px) {
                font-size: 18px;
              }
            }
          }
          .btn {
            background-color: $base-color2;
            color: $base-color1;
            font-size: 14px;
            font-weight: 600;
            height: 40px;
            line-height: 40px;
            padding: 0px 25px;
            border-radius: 20px;
            transition: all 0.3s;
            border: none;
            &:hover {
              background-color: $base-color1;
              color: $base-color2;
            }
          }
        }
      }
    }
  }
}
